body {
    font-family: 'DM Serif Display', serif;
    margin: auto;
    margin-left: 5px;
    width: 1050px;
    
}

.conteiner {
    width: 1050px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
}

#logo-boolean {
    width: 350px;
    margin-top: 80px;
    padding-bottom: 10px;
    padding-left: 30px;
}

#titolo {
    font-size: 40px;
    margin-bottom: 0;

}

.prima-sezione {
    color: grey;
}

.scritto-da {
    margin-bottom: 0;
    margin-top: 0;
    color: grey;
    font-size: 20px;
}

#link-boolean {
    text-decoration: none;
}

.scritto-il {
    margin-top: 0;
    color: grey;
    font-size: 15px;
}

.tim-img {
    margin: 0 auto;
}

#prima-didascalia {
    font-size: 12px;
    margin: 0 0 0 0;
}

#seconda-didascalia {
    font-size: 12px;
    margin: 0;
}

#prima-sottolineatura {
    background-color: yellow;
}

.lista {
    padding-left: 20px;
}

#seconda-sottolineatura {
    background-color: yellow;
}

table {
    border-spacing: 0px;
}
.primariga {
    background-color: #20A9E5;
    color: white;
}

.riga-blu {
    background-color: #B1E5F2;
}

#titolo-footer {
    color: grey;
    font-size: 20px;
    margin-bottom: 10px;
}

.prima-img-footer {
    position: relative;
    text-align: left;
    color: white;
}

.primo-lorem {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 23px;    
}

.seconda-img-footer {
    position: relative;
    text-align: left;
    color: white;
}

.secondo-lorem {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 23px;    
}
